{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="about-container">
	<div class="about-content">
		<h2>About Me</h2>
		<p>Hi, I am Wenyue Jin, a computer science student in the University of Birmingham. Welcome to my website.</p>
		<p>I am a person with many hobbies, for example travelling, cooking, astronomy, gaming and classical music.</p>
		<div class="about-indent">
			<p><i class="fa fa-luggage-cart" id="about-icons"></i>I have been to many countries: Germany, Italy, Austria, Switzerland, Spain, France, Thailand, Malaysia and UK. On my travelling list I am planning to go to USA and Greece.</p>

			<p><i class="fa fa-hamburger" id="about-icons"></i>I like cooking, mostly following chinese traditional recipes. Usually when cooking, one needs to control not only flavour but also time that the ingredients are being in the pot. Flavouring is the other important part, different food has different ability to incorperate flavours, that is what a cook has to learn from trying again and again.</p>

			<p><i class="fa fa-space-shuttle" id="about-icons"></i>How much possibility that there are alien creatures? This question excites my curiosity from time to time. From human exploring Mars to detectors discovering Titan, we are eager to explore the universe futher and futher. There is no limit of what would be there.</p>

			<p><i class="fa fa-gamepad" id="about-icons"></i>I am an experienced gamer... do not ask me what I experienced, every gamer would know it. My favourate games are Monster Hunter: World, Overwatch. I also play other games with my friends on Steam, Blizzard and Origin.</p>

			<p><i class="fa fa-music" id="about-icons"></i>When the assignments made me almost collapse, listening classical symphonies and songs really helped. Classic is eternal! I like Mozart and Grieg the most.</p>
		</div>
		<p>Back to the topic, My current study interest is in Artificial Intelligence. I appreciate the opportunity that the univesity provides me rich resources and knowledge from many different fields. Currently I am in my second year study and I have learnt:</p>
		<div class="about-indent">
			<li>Mathematical Foundations</li>
			<li>Logic</li>
			<li>Data Structure</li>
			<li>Java</li>
			<li>Artificial Intelligence (Basic)</li>
			<li>Functional programming (Haskell)</li>
			<li>Mathematical modeling and decision making</li>
			<li>Security and Networking</li>
			<li>Software Engineering</li>
			<li>System programming and C/C++</li>
			<li>JavaFx Team Project</li>
		</div>
	</div>
	<div class="me-img">
		<div style="margin-left: 50px;"><img src="{% static '/images/me.jpeg' %}" class="profile-img"></div>
		<div class="me-text">
			<div style="margin-top: 16px; margin-left: 18px;"><span>Photo&nbsp;taken&nbsp;in</span></div>
			<div><span>Hallstatt,&nbsp;Austria</span></div>
		</div>
	</div>
</div>
{% endblock %}

