{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="about-container">
	<div class="about-content">
		<div class="about-header">
			<div class="about-vertical-line"></div>
			<div class="about-title">
				<span id="im-wyj">I am Wenyue Jin</span><br>
				<div class="about-subtitle">
					a computer science student<br>in the <span style="color: #d77d00;">U</span>niversity <span style="color: #d77d00;">o</span>f <span style="color: #d77d00;">B</span>irmingham.
				</div>
				<div>
					<span style="font-size: 12px;">There are many things I like:</span><br>
					<div class="hobby-links">
						<a id="h-link" href="#abt-1">travelling</a> |
						<a id="h-link" href="#abt-2">cooking</a> |
						<a id="h-link" href="#abt-3">gaming</a> | 
						<a id="h-link" href="#abt-4">astronomy</a> |
						<a id="h-link" href="#abt-5">classical music</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="me-img">
		<div style="margin-left: 50px;"><img src="{% static '/images/me.jpeg' %}" class="profile-img"></div>
		<div class="me-text">
			<div style="margin-top: 16px; margin-left: 18px;"><span>Photo&nbsp;taken&nbsp;in</span></div>
			<div><span>Hallstatt,&nbsp;Austria</span></div>
		</div>
	</div>
</div>
<div style="background: url({% static '/images/b1.jpeg' %}) no-repeat center center;background-size: 100% 100%;-moz-background-size: 100% 100%;" id="abt-1">
	<div class="about-background1-text">
		I have been to many countries:<br> 
		<div id="abt-t1">
			Germany, Italy, Austria,<br> 
			Switzerland, Spain, France,<br>
			Thailand, Malaysia and UK.<br>
		</div>
		<div style="margin-top: 20px;">
			On my travelling list,<br> I am planning to go to<br>
			<div id="abt-t2">USA and Greece.</div>
		</div>
	</div>
</div>
<div class="about-background2" id="abt-2">
	<div class="abt-bg2-col">
		<div class="about-ftq" style="background:url({% static '/images/fotiaoqiang.jpeg' %}) no-repeat center center;background-size: 100% 100%;-moz-background-size: 100% 100%;">
			<span>Fo Tiao Qiang:<br><br>a stew of chicken, duck, pig's feet, and numerous dried seafoods in wine soup stock, prepared in a huge wine jar </span>
		</div>
	</div>
	<div>
		<div class="about-background2-text">
			I like <span id="abt-t3">cooking</span>, mostly following chinese traditional recipes.<br><br>
			One needs to control the time that the ingredients are being in the pot.<br><br> 
			Flavouring is important as different food has different ability to incorperate flavours, that is what a cook has to learn from trying again and again.
		</div>
	</div>
</div>
<div class="about-background3" id="abt-3">
	<div class="about-background3-text">
		I am a <span id="abt-t3">gamer</span>.<br><br>
		I play many games with my friends on platforms like<br>
		<span style="color: #828282;">Steam</span>, <span style="color: #828282;">Blizzard</span> and <span style="color: #828282;">Origin</span>.<br><br>
		My favourate games are<br>
		<span style="color: #828282;">Monster Hunter: World</span><br>
		and <span style="color: #828282;">Overwatch</span>.
	</div>
	<div>
		<div class="about-games" style="background:url({% static '/images/games.png' %}) no-repeat center center;background-size: 100% 100%;-moz-background-size: 100% 100%;">
		</div>
	</div>
</div>
<div class="about-background4" id="abt-4">
	<div style="text-align:center;padding-top: 160px;"><img src="{% static '/images/galaxy.gif' %}"></div>
	<div class="about-background4-text">
		How much possibility that there are <span style="color: #3d84c1;">alien</span> creatures? This question excites my curiosity from time to time. From human exploring Mars to detectors discovering Titan, we are eager to explore the universe futher and futher. There is no limit of what would be there.
	</div>
</div>
<div class="about-background5" id="abt-5">
	<div style="display: flex;justify-content: center;">
		<div class="about-musician" style="background:url({% static '/images/mozart.jpeg' %}) no-repeat center center;background-size: 100% 100%;-moz-background-size: 100% 100%;">
			<span>Mozart</span>
		</div>
		<div class="about-musician" style="background:url({% static '/images/grieg.jpg' %}) no-repeat center center;background-size: 100% 100%;-moz-background-size: 100% 100%;">
			<span>Grieg </span>
		</div>
	</div>
	<div class="about-background5-text">
		When the assignments made me almost collapse,<br>
		listening classical symphonies and songs really helped.<br>
		I like Mozart and Grieg the most.<br><br>
		<span style="color: #3d84c1;">Classic is eternal!</span>
	</div>
</div>
<div class="about-background6">
	<div class="about-edu">
		<p>Back to the topic,<br>
		My current study interest is in Artificial Intelligence.<br><br>
		I appreciate the opportunity that the univesity provides me rich resources and knowledge from many different fields. Currently I am in my second year study and I have learnt:</p>
	</div>
	<div class="about-edu-modules">
		| Mathematical&nbsp;Foundations<br>
		| Logic<br>
		| Data&nbsp;Structure<br>
		| Java<br>
		| Artificial&nbsp;Intelligence&nbsp;(Basic)<br>
		| Functional&nbsp;programming&nbsp;(Haskell)<br>
		|&nbsp;Mathematical&nbsp;modeling&nbsp;and&nbsp;decision&nbsp;making<br>
		| Security&nbsp;and&nbsp;Networking<br>
		| Software&nbsp;Engineering<br>
		| System&nbsp;programming&nbsp;and&nbsp;C/C++<br>
		| JavaFx&nbsp;Team&nbsp;Project<br>
	</div>
</div>
{% endblock %}

