{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="about-container">
	<div class="about-content">
		<h2>About Me</h2>
		<p>This is the website of Wenyue Jin. I am a computer science student in the University of Birmingham.</p>

		I appreciate the opportunity that the univesity provides me rich resources and knowledge from many different fields. Currently I am in my second year study and I have learnt:

		<h3>Year 1:</h3>
			<p>
				<ul>
					<li><strong>Mathematical Foundations</strong>: Contents include and not only include: numbers, mathematical principles of bases, analytic geometry, matrices, set, relations... and regular languages, automata, P and NP... These are quite struggling for human beings.</li>
					<br>
					<li><strong>Logic</strong>: Propositional logic, natural deduction(proofs), predicate calculus... and isomorphism, lambda calculus, curry-howard correspondence. This module is linked to second year module(functional programming).
					</li>
					<br>
					<li><strong>Data Structure</strong>: Array, Iteration, Recursion, List(stack, queue, doubly linked list..), Searching(linear, binary), Efficiency and complexity, Trees, Binary search tree，Binary heap tree, Sorting, Hash table, graphs(path problem).
					</li>
					<br>
					<li><strong>Java</strong>: I was learning java basics, objective-oriented programming and some stuff of network connection and threads.
					</li>
					<br>
					<li><strong>Artificial Intelligence</strong>: Theoretically I learnt the concepts ofSwarm Intelligence, depth/width-first search, A-star, Hill climbing, Simulated Annealing, k-Nearest Neighbours, naive bayes, linear/logistic regression, neural network... And I was also engaging in building EV3 robot to complete tasks like path finding and maze exploring.
					</li>
				</ul>
			</p>

		<h3>Year 2:</h3>
			<p>
				<ul>
					<li><strong>Functional programming:</strong> This module focuses on teaching Haskell(built-in functions, monad, pureness and laziness...)
					</li>
					<br>
					<li><strong>Mathematical modeling and decision making:</strong> In the first half of the module(probablistic modelling), it includes principle component analysis and guassian distribution(1 to many); in the second half, it includes something I DON'T understand(Discrete fourier transfrom) and introduction of Makov chain.
					</li>
					<br>
					<li><strong>Security and Networking:</strong> This is a huge module as it covers a lot about encryption/decryption methods, such as AES, RSA, and some techniques of capturing traffic from the network(wireshark,burp). It also includes hacking in acess control system and other protocal based communication, website SQL injection and other web attack(steal cookie, XSS...). Additionally, a brief explanation of reverse engineering was introduced.
					</li>
					<br>
					<li><strong>Software Engineering:</strong> Mainly about software developing architecture based on UML.
					</li>
					<br>
					<li><strong>System programming and C/C++:</strong> From architecture level, it introduced what a computer is and how a computer system works(kernel, user space, processes). From hardware level, it introduced how CPU, RAM, disk and other components cooperate and how operating system handles different tasks in different situations. Beyond this, C language was taught based on these. (C++ was briefly introduced).
					</li>
				</ul>
		    </p>
			<p>To be continued.</p>
	</div>
	<div class="me-img">
		<div style="margin-left: 50px;"><img src="{% static '/images/me.jpeg' %}" class="profile-img"></div>
		<div style="margin-left: 21px;">
			<div style="margin-top: 8px; margin-left: 18px;"><span style="font-style: italic;">Photo&nbsp;taken&nbsp;in</span></div>
			<div><span style="font-style: italic;">Hallstatt,&nbsp;Austria</span></div>
		</div>
	</div>
</div>
{% endblock %}

