{% extends 'blog/base.html' %}

{% block content %}
    <div class="cmt-header"><h2>Comments</h2></div>
    <div class="comment-area">
        {% for comment in comments %}
        	<div class="cmt">
            	<div class="cmt-name"><strong>{{comment.name}}:&nbsp;</strong></div>
                <div class="cmt-text">{{ comment.text|linebreaksbr }}</div>
            </div>
        {% endfor %}
    </div>
    <div style="margin-top: 50px;">
		<form method="POST">
			<div class="comment-edit">
				<div class="comment-col">
					<div style="margin-bottom: 15px;">Your&nbsp;Name:</div>
					<div>Your&nbsp;Words:</div>
				</div>
		    	<div class="comment-col">
					<input name="nickname" id="visitor" placeholder="" />
					<textarea cols="70" name="text" rows="5" maxlength="3000" class="comment-text" style="height: auto;width:600px;"></textarea>
	            	<div style="float: right;margin-right: 95px;"><button type="submit" class="btn-edu">Submit</button></div>
	            </div>
            </div>
		</form>
	</div>
{% endblock %}