{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div class="cv">
	<div class="cv-col1">
	    <h3>Profile</h3>
	    
	    <div id="cv-section">
	    	<div class="cv-profile">
				<div style="margin-right: 5%;margin-top: 5px;">
					<table border="0" id="cp">
						<tr>
	    					<td>Name:</td>
	    					<td id="cp-col2">Wenyue Jin</td>
						</tr>
						 <tr>
						    <td>Gender:</td>
						    <td id="cp-col2">Male</td>
						 </tr>
						 <tr>
	    					<td>Study:</td>
	    					<td id="cp-col2">Computer Science (AI)</td>
						</tr>
						 <tr>
						    <td>Interests:</td>
						    <td id="cp-col2">Machine&nbsp;Learning, Computer&nbsp;Vision</td>
						 </tr>
						 <tr>
	    					<td>University:</td>
	    					<td id="cp-col2">University&nbsp;of&nbsp;Birmingham</td>
						</tr>
						<tr>
	    					<td>Languages:</td>
	    					<td id="cp-col2">Mandarin,&nbsp;English</td>
						</tr>
						<tr>
	    					<td>Hobbies</td>
	    					<td id="cp-col2">Travel,&nbsp;Cooking, Gaming,&nbsp;Astronomy, Classical Music</td>
						</tr>
					</table>
				</div>
				<div id="piechart"></div>
			</div>
		</div>

		<script type="text/javascript">
			google.charts.load('current', {'packages':['corechart']});
			google.charts.setOnLoadCallback(drawChart);

			function drawChart() {
			  var data = google.visualization.arrayToDataTable([
			  ['programming_skill', 'rate'],
			  ['Java', 7],
			  ['Haskell', 5],
			  ['Python', 4],
			  ['C', 3],
			  ['HTML & CSS', 3],
			  ['javascript', 3]
			]);

			var options = { 'width':350,
			   			    'height':270,
			   			    tooltip: { trigger: 'selection' },
			    			chartArea:{right:20,left:10,width:"100%",height:"100%"}, 
			   				pieHole: 0.5,backgroundColor: 'transparent',
			   				legend: {textStyle: { color: '#828282' }}
			   			  };

			var chart = new google.visualization.PieChart(document.getElementById('piechart'));
			chart.draw(data, options);
			}
		</script>

<!-- ************************************* Education **************************************** -->
		<h3>Education</h3>
		<div id="cv-section">
			<div class="edu">
				<div class="cv-titles">
					<strong>Kaplan Foundation Education | University of Liverpool</strong>
				</div>
				<div class="cv-texts">Overall 82%<br>
				    - (79/100) Physical Science<br>
				    - (91/100) Algorithms, Programming and Data Representation<br>
				    - (91/100) Mathematics of Science and Engineering<br>
				    - (69/100) Skills of Study<br>
				    - Language for Study 3 (Exempt)<br>
				</div>
			</div>
			<div class="edu">
				<div class="cv-titles">
					<strong>Artificial Intelligence and Computer Science BSc | University of Birmingham</strong>
				</div>
				<p>
					Year 1: weighted average 71%<br>
				    - (76%) Java Fondamentals<br>
				    - (58%) Foundation of Mathematics<br>
				    - (73%) Data Structure<br>
				    - (74%) Logic and Computation<br>
				    - (69%) Artificial Intelligence<br>
					Year 2: PRESENT : N/A<br>
					- Advanced Functional Programming<br>
					- Software Engineering<br>
					- Systems Programming in C/ C++<br>
					- Mathematical modeling and Decision Making<br>
					- Java Team Project<br>
					- Security and Networking<br>
				</p>
			</div>

			<div>
	            {% for item in items %}
	            	<div class="edu">
		            	<div class="cv-titles"><strong>{{item.title}}</strong></div>
		                <p>{{ item.text|linebreaksbr }}</p>
	                </div>
	            {% endfor %}
	        </div>

			{% if user.is_authenticated %}
				<div class="more-and-text">
				 	<input type="button" class="btn-edu" id="btn-edu-add" onclick="show_edu()" value="More" />
				 	<span style="font-size: 12px; font-style: italic; margin-left: 5px; color: c0c0c0;">Add Education Experience</span>
			 	</div>
			 	<div class="edu-detail" style="display: none">
					<form method="POST" name="post-edu">
						{% csrf_token %}
				    	<input name="item_title" id="id_new_item" placeholder="More" />
				    	<br>
						<textarea cols="70" name="item_text" rows="5" maxlength="3000" class="text-field" style="height: auto;width:600px;"></textarea>
						<br>
						<button type="submit" class="btn-edu">Save</button>
						<input type="reset" class="btn-edu" id="btn-edu-delete" onclick="hide_edu()" value="Delete" />
					</form>
				</div>
			{% endif %}
		</div>

<!-- ************************************** Projects ***************************************** -->
		<h3>Projects</h3>
		<div id="cv-section">
			<div class="project">
				<div class="pj-titles">
					<span><strong>From&nbsp;: </strong></span> Oct. 5, 2019<br>
					<span><strong>to&nbsp;&nbsp;&nbsp;: </strong></span> Dec. 15, 2019<br>
					<span><strong>Place:</strong></span> Computer Science Department<br>
				</div>
				<p>
					I was a memeber of a team of six. We were designing a software/app to handle sleep disorder. We wrote a report in UML format which includes: Use Case, Class, Object, Component, Deployment, Activity, State, Sequence Diagrams.
					I was doing the part of Use case, Class, Component, Sequence, State, Deployment Diagrams.
					This project gives me more understanding on how agile software engineering works in real life.
				</p>
			</div>
			<div>
				{% for project in projects %}
				<div class="project">
					<div class="pj-titles">
						<span><strong>From&nbsp;: </strong></span> {{ project.start_date }}<br>
						<span><strong>to&nbsp;&nbsp;&nbsp;: </strong></span>{{ project.end_date }}<br>
						<span><strong>Place:</strong></span> {{ project.place }}<br>
					</div>
					<p>{{ project.text|linebreaksbr }}</p>
				</div>
				{% endfor %}
			</div>
			{% if user.is_authenticated %}
				<div class="more-and-text">
				 	<input type="button" class="btn-edu" id="btn-edu-add" onclick="show_project()" value="More" />
				 	<span style="font-size: 12px; font-style: italic; margin-left: 5px; color: c0c0c0;">Add Project</span>
			 	</div>
			 	<div class="project-detail" style="display: none">
					<form method="POST" name="post-project">
						{% csrf_token %}
				    	<input name="start_date" id="sd" placeholder="yyyy-mm-dd" pattern="(196[1-9]|19[7-9]\d|20\d\d|2100)[\-/](0[1-9]|1[0-2])[\-/](0[1-9]|[1-2]\d|3[0-1])" required/><span style="margin-left: 5px; margin-right: 5px;">to</span><input name="end_date" id="ed" placeholder="yyyy-mm-dd" pattern="(196[1-9]|19[7-9]\d|20\d\d|2100)[\-/](0[1-9]|1[0-2])[\-/](0[1-9]|[1-2]\d|3[0-1])" required/>
				    	<br>
				    	<input name="place" class="pj-place" placeholder="place" /><br>
						<textarea cols="70" name="intern_text" rows="5" maxlength="3000" class="text-field" style="height: auto;width:600px;"></textarea>
						<br>
						<button type="submit" class="btn-edu" onclick="validate_input()">Save</button>
						<input type="reset" class="btn-edu" id="btn-edu-delete" onclick="hide_project()" value="Delete" />
					</form>
				</div>
			{% endif %}
		</div>

<!-- ************************************* Internship **************************************** -->
		<h3>Internship</h3>
		<div id="cv-section">
			<div class="intern">
				<div class="cv-titles">
					<span><strong>Start date: </strong></span> Dec. 1, 2018<br>
					<span><strong>&nbsp;End&nbsp;&nbsp;date: </strong></span> Dec. 16, 2019<br>
				</div>
				<p>
					I fortunately joined CSSA Birmingham which is Chinese academic organization. I engaged in organizing several events and festival parties with other members. During the time, I learnt more about cooperation technique and organizing skills. (1 year)
				</p>
			</div>
			<div>
				{% for intern in interns %}
				<div class="intern">
					<div class="cv-titles">
						<span><strong>Start date: </strong></span> {{ intern.start_date }}<br>
						<span><strong>&nbsp;End&nbsp;&nbsp;date: </strong></span> {{ intern.end_date }}<br>
					</div>
					<p>{{ intern.text|linebreaksbr }}</p>
				</div>
				{% endfor %}
			</div>
			{% if user.is_authenticated %}
				<div class="more-and-text">
				 	<input type="button" class="btn-edu" id="btn-edu-add" onclick="show_intern()" value="More" />
				 	<span style="font-size: 12px; font-style: italic; margin-left: 5px; color: c0c0c0;">Add Internship Experience</span>
			 	</div>
			 	<div class="intern-detail" style="display: none">
					<form method="POST" name="post-intern">
						{% csrf_token %}
				    	<input name="start_date" id="sd" placeholder="yyyy-mm-dd" pattern="(196[1-9]|19[7-9]\d|20\d\d|2100)[\-/](0[1-9]|1[0-2])[\-/](0[1-9]|[1-2]\d|3[0-1])" required/><span style="margin-left: 5px; margin-right: 5px;">to</span><input name="end_date" id="ed" placeholder="yyyy-mm-dd" pattern="(196[1-9]|19[7-9]\d|20\d\d|2100)[\-/](0[1-9]|1[0-2])[\-/](0[1-9]|[1-2]\d|3[0-1])" required/>
				    	<br>
						<textarea cols="70" name="intern_text" rows="5" maxlength="3000" class="text-field" style="height: auto;width:600px;"></textarea>
						<br>
						<button type="submit" class="btn-edu" onclick="validate_input()">Save</button>
						<input type="reset" class="btn-edu" id="btn-edu-delete" onclick="hide_intern()" value="Delete" />
					</form>
				</div>
			{% endif %}
		</div>
	</div>
	<div class="cv-col2">
		<div class="buttons">
			<a href="{% url 'about' %}"><button>Home</button></a>
            <a href="{% static '/images/Resume_Eng.pdf' %}"><button>EN&nbsp;version</button></a>
            <a href="{% static '/images/Resume_CN.pdf' %}"><button>CN&nbsp;version</button></a>
        </div>
	</div>
</div>

	<script>
		function show_edu(){
			var show_part = document.querySelector('.edu-detail');
			show_part.style.display = '';
		}

		function hide_edu(){
		    var show_part = document.querySelector('.edu-detail');
		    show_part.style.display = 'none';
	    }

	    function show_project(){
			var show_part = document.querySelector('.project-detail');
			show_part.style.display = '';
		}

		function hide_project(){
		    var show_part = document.querySelector('.project-detail');
		    show_part.style.display = 'none';
	    }

	    function show_intern(){
			var show_part = document.querySelector('.intern-detail');
			show_part.style.display = '';
		}

		function hide_intern(){
		    var show_part = document.querySelector('.intern-detail');
		    show_part.style.display = 'none';
	    }

	    function validate_input(){
             var sd = document.getElementById("sd");
             var ed = document.getElementById("ed");
             var svd = sd.validity;
             var evd = ed.validity;
             
             if (svd.valueMissing) {
                 sd.setCustomValidity("Start date cannot be empty");
             }else if (evd.valueMissing) {
				 ed.setCustomValidity("End date cannot be empty");
             }else{
                 if (svd.patternMismatch) {
                     sd.setCustomValidity("invalid format, should be yyyy-mm-dd");
                 }else if (evd.patternMismatch) {
                 	 ed.setCustomValidity("invalid format, should be yyyy-mm-dd");
                 }else{
                     sd.setCustomValidity("");
                     ed.setCustomValidity("");
                 }
             }
         }
	</script>
{% endblock %}

