{% extends 'blog/base.html' %}

{% block content %}
    <div class="contact-detail">
    	Find me on:  <a href="https://github.com/jwyhhh123"><i class="fab fa-github fa-2x"></i></a> and <a href="mailto:jwyhhh123@hotmail.com"><i class="fa fa-envelope fa-2x"></i></a>
    </div>
	<div class="posts-container">
		<div class="col-1">
		    {% for post in posts %}
		        <div class="post">
		        	<div style="display: flex;">
			        	<div>
			        		<div class="post-line"></div>
			        	</div>
			            <div class="pcontent"><a href="{% url 'post_detail' pk=post.pk %}">
		            		<h2>{{ post.title }}</h2>
		            		{{ post.text|slice:":260"|linebreaksbr }}...</a>
		            	</div>
		            </div>
		        </div>
		    {% endfor %}
		</div>
	    <div class="col-2">
            <div class="buttons">
            	<a href="{% url 'about' %}"><button>Home</button></a>
    			<a href="{% url 'comment' %}"><button>Comments</button></a>
  			</div>
        </div>
	</div>
{% endblock %}
                