
.page-header {
    background-color: #0071C2;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.header-icon h1, .header-icon h1 a, .header-icon h1 a:visited, .header-icon h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.menu-icon {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    margin-left: 20px;
    margin-top: 16px;
    margin-right: 10px;
}

.header-icon {
    display: flex;
}

.content {
    margin-left: 40px;
}

.content-container {
    display: flex;
}

.row {
    width: 85%;
    margin-left: 50px;
}

.row-2 {
    width: 15%;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.post {
    margin-left: 50px;
    margin-bottom: 60px;
    margin-right: 20px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

.nav li, .nav a {
    margin-bottom: 0;
    display: inline-block;
    * display:inline;
    float: right;
    zoom:1
}

.nav__item {
    display: table-cell;
    margin-right: 10px;
    padding-left:.2em
}

.nav__link {
    font-size: 12pt;
}

.copyright {
    display: block;
    margin-top: .5em;
    color: #4C4C4C;
    text-align: center;
    clear:both
}

.footer {
    position: absolute;
    width: 100%;
    height: 10px;
    z-index: 10;
    text-align: center;
}

