
/* 
frequently used:
   footer color: #f2f2f2; orange: #d77d00;
   blue: #3d84c1;;
*/

/* base */

* {
    font-family: 'Press Start 2P';
}

h1, h2, h3, h4 {
    font-size: 18px;
}

.blog-title:hover {
    text-decoration: none;
}

body {
    font-size: 10px;
    font-stretch: condensed;
    background-color: white;
    line-height: 15pt;
    overflow-x: hidden;
}

.body-wrap {
    border-bottom: none !important;
}

.page-header {
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    border-bottom: 0 none;
}

.header-icon h1, .header-icon h1 a, .header-icon h1 a:visited, .header-icon h1 a:active {
    font-size: 30pt;
}

.menu-logo {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    margin-left: 20px;
    margin-top: 12px;
    margin-right: 15px;
}

.menu-logo:hover{
  opacity:.7;
}

.header-icon {
    display: flex;
}

.nav {
    margin-right: 20px;
}

.nav li, .nav a {
    margin-bottom: 0;
    display: inline-block;
    * display:inline;
    float: right;
    padding: 15px 12px 15px 12px;
}

.nav a:hover {
    color: #d77d00;
    text-decoration: none;
    transition-duration: 0.3s;
}

.nav__link {
    font-size: 8pt;
    margin-left: 10px;
    margin-right: 12px;
    cursor: pointer;
}

.row {
    margin-left: 50px;
    margin-bottom: 80px;
}

.content {
    margin-left: 40px;
}

/* post_list page css */

.posts-container {
    display: flex;
}

#pc-detail {
    margin-bottom: 25%;
}

.contact-detail {
    margin-bottom: 15px;
    font-style: italic;
    color: #828282;
}

.col-1 {
    width: 90%;
}

.col-2 {
    margin-top: 20px;
    width: 10%;
    margin-left: 10px;
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.post-line {
    margin-right: 10px;
    height: 126px;
    width: 5px;
    background-color: #3d84c1;
}

.post {
    margin-bottom: 20px;
    margin-right: 20px;
}

.post:hover {
    margin-left: 50px;
    transition-duration: 0.3s;
}

.post:hover h2 {
    color: #d77d00;
    transition-duration: 0.3s;
}

.pcontent {
    margin-top: -12px;
}

.pcontent h2 {
    color: #3d84c1
}

.pcontent a {
    text-decoration: none;
    color: black;
}

/* post_edit page css */

.buttons {
    margin-left: 185px;
}

.buttons button {
    width: 120px;
    height: 30px;
    background: transparent;
    border: 2px solid #3d84c1;
    border-radius: 6px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    color: #3d84c1;
}

.buttons button:hover {
    background-color: #0071C2;
    color: white;
}

/* about page css */

.about-container {
    display: flex;
}

.about-content {
    width: 99%;
}

.about-header {
    display: flex;
    margin-top: 10px;
}

.about-vertical-line {
    height: 146px;
    width: 4px;
    background-color: #3d84c1;
    margin-top: 60px;
    margin-left:10px;
}

.about-title {
    margin-top: 70px;
    margin-bottom: 20px;
    margin-left: 20px;
    color: black;
}

#im-wyj {
    font-size: 30px;
}

.about-subtitle {
    color: #828282;
    margin-left: 2px;
    margin-top: 8px;
    margin-bottom: 28px;
    line-height: 15px;
}

.hobby-links {
    margin-bottom: 50px;
    margin-top: 5px;
    font-size: 10px;
    color: #828282;
    margin-left: -6px;
}

.hobby-links a {
    margin-bottom: 0;
    display: inline-block;
    * display:inline;
    padding: 0px;
    margin-top: 1px;
    color: #828282;
}

.hobby-links a:hover{
    margin-top: 0px;
    color: #d77d00;
    cursor: pointer;
    text-decoration: none;
    border-top: 1px solid red;
    border-top-width: 1px;
    padding: 0px;
}

#h-link {
    margin-right: 6px;
    margin-left: 6px;
}

#about-icons {
    color: d77d00;
    margin-right: 5px;
    font-size: 12px;
}

.me-img {
    width: 1%;
    margin-left: 100px;
    margin-top: 40px;
}

.me-img img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    transition: 0.8s;
}

.me-img img:hover {
    transform: scale(1.2);
}

.me-text {
    margin-left: 21px;
    font-style: italic;
}

#abt-1{
    height:400px;
    width:145%;
    margin-left:-70px;
}

.about-background1-text {
	padding-top: 100px;
    margin-bottom: 10px;
    margin-left: -10px;
    font-size: 15px;
    text-align: center;
    color: white;
}

#abt-t1 {
    color: #d77d00;
    opacity: .7;
    font-size: 12px;
}

#abt-t2 {
    color: #d77d00;
    opacity: .7;
    font-size: 12px;
}

#abt-t3 {
    color: #d77d00;
}

.about-background2 {
    margin-bottom: 150px;
    margin-top: 20px;
    font-size: 15px;
    display: flex;
}

.about-background2-text {
    margin-bottom: 10px;
    margin-top: 75px;
    margin-left: 120px;
    margin-right: -190px;
}

.abt-bg2-col {
    margin-right: 100px;
}

.about-ftq{ 
    position:relative;
    margin-top: 60px;
    margin-left: 15px;
    height: 240px;
    width: 320px;
}

.about-ftq span, .about-musician span{
    display:none;
    text-decoration:none;
}

.about-ftq:hover, .about-musician:hover{
    cursor:default;
}

.about-ftq:hover span{
    display:block;
    padding: 18px 15px 18px 18px;
    position:absolute; 
    bottom:0; 
    left:0;
    color:#d77d00;
    width:320px; 
    z-index:10;
    height:240px; 
    line-height:20px; 
    background:#000;
    filter:alpha(opacity=60);
    -moz-opacity:0.5;
    opacity: 0.5;
}

.about-background3 {
    margin-bottom: 150px;
    margin-left: 15px;
    font-size: 15px;
    display: flex;
}

.about-background3-text {
    margin-top: 40px;
    margin-right: 10%
}

.about-games{ 
    position:relative;
    margin-top: 1px;
    margin-right: -200px;
    margin-left: 20%;
    height: 270px;
    width: 580px;
}

.about-background4 {
	background-color: black;
    height:400px;
    width:138.1%;
    margin-left:-52px;
    margin-top: -60px;
    margin-bottom: 10px;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
}

.about-background4-text {
    margin-top: -310px;
    margin-right: 20%;
    margin-left: 20%;
    font-size: 15px;
    text-align: center;
    color: white;
}

.about-background5 {
    background-color: rgb(249,249,249);
    height:400px;
    width:138.1%;
    margin-left:-52px;
    margin-top: 15px;
    margin-bottom: 60px;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
}

.about-background5-text {
	padding-top: 80px;
	margin-right: 20%;
    margin-left: 20%;
    font-size: 15px;
    text-align: center;
}

.about-musician {
	position:relative;
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
    height: 120px;
    width: 120px;
}

.about-musician:hover span{
    display:block;
    padding: 50px 15px 20px 34px;
    position:absolute; 
    bottom:0; 
    left:0;
    color:#d77d00;
    width:120px; 
    z-index:10;
    height:120px; 
    line-height:20px; 
    background:#000;
    filter:alpha(opacity=60);
    -moz-opacity:0.5;
    opacity: 0.5;
}

.about-background6 {
    display: flex;
}

.about-edu {
    margin-right: 25px;
    padding: 30px 50px 30px 10px;
}

.about-edu-modules {
    margin-left: 12px;
    margin-right: -12%;
    padding-top: 20px;
}

/* cv page css */

.cv {
    display: flex;
}

.cv-col1 {
    width: 90%;
}

.cv-col1 h3 {
    color: #3d84c1;
    padding-bottom: 6px;
}

#cv-section {
    margin-bottom: 50px;
}

.cv-col2 {
    width: 10%;
    margin-top: 50px;
    margin-left: 10px;
}

.cv-profile {
    display: flex;
    margin-top: 20px;
    margin-bottom: -21px;
}

#cp {
    font-size: 12px;
}

#cp td {
    padding-bottom: 15px;
    line-height: 1.7rem;
}

#cp tr:hover {
    color: #d77d00;
    transition-duration: 0.3s;
    cursor: default;
}

#cp-col2 {
    padding-left: 15px;
    font-size: 10px;
}

.edu {
    margin-bottom: 15px;
}

.edu,.intern,.project {
    padding:10px;
    margin-left: -10px;
}

.edu:hover,.intern:hover,.project:hover {
    background-color: rgb(249,249,249);
}

.btn-edu {
    display: inline-block;
    width: 100px;
    height: 28px;
    cursor: pointer;
    border: none !important;
    font-size: 12px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.1);
}

.btn-edu:hover {
    background-color: #0071C2;      
    color: white;
}

.more-and-text {
    margin-top: 15px;
    margin-bottom: 19px;
}

.cv-titles {
    margin-bottom: 10px;
}

.project {
    margin-bottom: 15px;
}

.pj-titles {
    margin-bottom: 10px;
}

.pj-place {
    margin-top: 10px;
}

.intern {
    margin-bottom: 15px;
}

.edu-detail {
    margin-top: 10px;
}

.text-field {
    margin-top: 10px;
}

/* comment page css */

.cmt-header {
    margin-bottom: 20px;
}

.comment-area {
    margin-bottom: 20px;
    margin-right: 80px;
}

.cmt {
    margin-bottom: 10px;
}

#single-cmt {
    position: relative;
    background: #cacaca;
    border-radius: 5px;
    line-height: 50px;
    margin-left: 10px;
    word-break: break-word;
    padding: 7px;
    line-height: 18px;
    display:inline-block; 
    *display:inline; 
    *zoom:1;
}

#single-cmt::after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-right-color: #cacaca;
    top: 15px;
    left: -14px;
}

.cmt-text {
    margin-left: 10px;
}

.comment-col {
    margin-right: 10px;
    display: flex;
}

.cmt-edit-text {
    margin-right: 15px;
    margin-bottom: 10px;
}

#visitor {
    margin-bottom: 10px;
}

.comment-text {
    margin-bottom: 10px;
}

.comment-submit {
    float: right;
    margin-right: 162px;
}

/* icons */

.interactives {
	display: flex;
	justify-content: flex-end;
}

.dark-mode-button {
    color: 0071C2;
    margin-right: 65px;
    cursor: pointer;
}

.dark-mode-button:hover{
    color: #828282;
}

.go-home {
	margin-top: -2px;
}

.go-home a{
	font-size: 13px;
	color: 0071C2;
    margin-right: 30px;
    cursor: pointer;
}

.go-home a:hover {
	 color: #828282;
}

/* footer */

.divide-line {
    background-color: #d4d4d4;
    height: 1px;
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 10px;
}

footer {
    margin-top: 45px;
    position: absolute;
    width: 100%;
    height: 168px;
    z-index: 10;
    background-color: #f2f2f2;
}

.footer-content {
    display: flex;
    margin-top: 12px;
    justify-content: center;
}

.footer-col {
    margin-right: 70px;
}

.footer-col a {
    color: #828282;
    font-size: 6pt;
    font-weight: lighter;
}

.footer-col a:hover {
    text-decoration: none;
}

.footer-col-title {
    font-size:7pt;
    font-weight: bold;
}

.footer-logo {
    margin-top: 8px;
    text-align: center;
}

.small-logo {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    
}

.small-logo:hover{
  opacity:.7;
}

.footer-area {
    margin-top: 5px;
}

.copyright {
    display: block;
    margin-top: 8px;
    color: #828282;
    text-align: center;
    font-size: 6pt;
    clear:both;
}

/* Smartphones (portrait and landscape) --- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

    .page-header {
        padding: 20px 20px 20px 10px;
    }

    .header-icon h1, .header-icon h1 a, .header-icon h1 a:visited, .header-icon h1 a:active {
        font-size: 20pt;
    }

    .nav {
        margin-left: 8px;
    }

    .nav li, .nav a {
        float: left;
        padding: 12px 10px 12px 5px;
    }

    #im-wyj {
        font-size: 15px;
    }

    .about-container,.about-background3 {
        flex-direction: column-reverse;
    }

    .me-img {
        margin-left: 10px;
        margin-top: 10px;
    }

    .about-vertical-line {
        display: none;
    }

    .about-title {
        margin-top: 50px;
        margin-left: -8px;
    }

    #abt-1{
        width: 100%;
        margin-left: -50px;
    }

    .about-background1-text, .about-background2, .about-background3 {
        font-size: 8px;
    }

    .about-background2, .about-background6 {
        flex-direction: column;
    }

    .about-background2-text {
        margin-bottom: 10px;
        margin-top: 50px;
        margin-left: 1px;
        margin-right: -1px;
    }

    .about-ftq{ 
        height: 135px;
        width: 145px;
    }

    .about-games{ 
        margin-right: 7px;
        margin-left: 8%;
        height: 100px;
        width: 280px;
    }

    .about-background3-text {
        margin-top: 10px;
        margin-right: 2%;
        margin-left: -10px;
    }

    .about-background4 {
        width: 100%
        margin-left:-58px;
        margin-top: -40px;
    }

    .about-background4-text {
        margin-top: -320px;
        margin-right: 20%;
        margin-left: 15%;
        font-size: 8px;
    }

    .about-background5 {
        width: 110%;
    }

    .about-background5-text {
        padding-top: 30px;
        margin-right: 20%;
        margin-left: 20%;
        font-size: 8px;
        text-align: left;
    }

    .about-edu,.about-edu-modules {
        font-size: 8px;
    }

    .cv-profile {
        display: flex;
        margin-top: 5px;
        margin-bottom: -10px;
        flex-direction: column;
    }

    .post-line {
        height: 64px;
    }

    footer {
        height: 179px;
        font-size: 5px;
    }

    .footer-col {
        margin-right: 1px;
        margin-left: 1px;
    }
}


