/* base */

* {
    font-family: 'Press Start 2P';
}

h1, h2, h3, h4 {
    font-size: 18px;
}

body {
    font-size: 10px;
    font-stretch: condensed;
    background-color: #0c090a;
    color: white;
}

.body-wrap {
    border-bottom: none !important;
}

.page-header {
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    border-bottom: 0 none;
}

.header-icon h1, .header-icon h1 a, .header-icon h1 a:visited, .header-icon h1 a:active {
    font-size: 30pt;
}

.menu-logo {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    margin-left: 20px;
    margin-top: 12px;
    margin-right: 15px;
}

.menu-logo:hover{
  opacity:.7;
}

.header-icon {
    display: flex;
}

.nav {
    margin-right: 50px;
}

.nav li, .nav a {
    margin-bottom: 0;
    display: inline-block;
    * display:inline;
    float: right;
    zoom:1
}

.nav__item {
    display: table-cell;
    margin-right: 10px;
    padding-left:.2em
}

.nav__link1 .nav__link2 .nav__link3 {
    font-size: 15pt;
}

.row {
    width: 100%;
    margin-left: 50px;
}

.content {
    margin-left: 40px;
}

/* post_list page css */

.posts-container {
    display: flex;
    color: white;
}

.contact-detail {
    margin-bottom: 8px;
    font-style: italic;
    color: #828282;
}

.col-1 {
    width: 90%;
}

.col-2 {
    margin-top: 20px;
    width: 10%;
    margin-left: 10px;
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.post-form-color {
    color: black;
}

.post {
    margin-bottom: 60px;
    margin-right: 20px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

/* post_edit page css */

.buttons {
    margin-left: 200px;
}

.buttons button {
    width: 120px;
    height: 30px;
    background: transparent;
    border: 2px solid #3d84c1;
    border-radius: 6px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    color: #3d84c1;
}

.buttons button:hover {
    background-color: #0071C2;
    color: white;
}

/* about page css */

.about-container {
    display: flex;
}

.about-content {
    width: 99%;
}

.me-img {
    width: 1%;
    margin-left: 100px;
    margin-top: 45px;
}

.me-img img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
}

/* cv page css */

.edu {
    margin-bottom: 10px;
}

.btn-edu {
    display: inline-block;
    width: 100px;
    height: 28px;
    cursor: pointer;
    border: none !important;
    font-size: 12px;
    border-radius: 8px;
    background-color: white;
    color: black;
}

.btn-edu:hover {
    background-color: #0071C2;
    color: white;
}

.more-and-text {
    margin-top: 15px;
    margin-bottom: 19px;
}

.cv-titles {
    font-size: 11px;
}

.cv-texts {
    margin-left: 12px;
}

.intern {
    margin-bottom: 10px;
}

.edu-detail {
    margin-top: 10px;
}

.text-field {
    margin-top: 10px;
    color: black;
}

#id_new_item {
    color: black;
}

#sd {
    color: black;
}

#ed {
    color: black;
}

/* comment page css */

.cmt-header {
    margin-bottom: 20px;
}

.comment-area {
    margin-bottom: 20px;
    margin-right: 60px;
}

.cmt {
    margin-bottom: 2px;
    padding: 10px 10px 10px 10px;
    border-style: solid; 
    border-width: 2px;
    border-radius: 5px;
}

.cmt-text {
    margin-left: 10px;
}

.comment-edit {
    display: flex;
}

.comment-col {
    margin-right: 10px;
}

#visitor {
    margin-bottom: 10px;
    color: black;
}

.comment-text {
    margin-bottom: 10px;
    color: black;
}

.comment-submit {
    float: right;
    margin-right: 107px;
}

/* dark mode setting icon */

.dark-mode-button {
    color: 0071C2;
    float: right;
    margin-right: 60px;
    cursor: pointer;
}

.dark-mode-button:hover {
    color: #828282;
}

/* footer */

.divide-line {
    background-color: #c0c0c0;
    height: 2px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 35px;
}

.footer {
    position: absolute;
    width: 100%;
    height: 10px;
    z-index: 10;
    text-align: center;
}

.footer-area {
    margin-top: 10px;
    margin-bottom: 10px;
}

.copyright {
    display: block;
    margin-top: .5em;
    color: #828282;
    text-align: center;
    clear:both
}


